<body>
    <header>
        <div class="box"></div>
    
        <nav>
            <p class="paginaInicial"><a href="/">Página Inicial</a></p>
            <p class="projetos"><a href="/projetos">Projetos</a></p>
            <p class="contato"><a href="/contato">Contato</a></p>
            <p class="sobreMim"><a href="/sobreMim">Sobre mim</a></p>
        </nav>
    </header>