<body>
    <header>
        <div class="box"></div>
    
        <nav>
            <ul>
                <li><a class="cabecario" href="/">Página Inicial</a></li>
                <li><a class="cabecario" href="/projetos">Projetos</a></li>
                <li><a class="cabecario" href="/contato">Contato</a></li>
                <li><a class="cabecario" href="/sobreMim">Sobre mim</a></li>
            </ul>
        </nav>
    </header>