<%- include("./partials/head") %>
<%- include("./partials/header") %>

<link rel="stylesheet" type="text/css" href="stylesheets/paginaInicial.css">

    <Section class="container"=>

      <h1>Seja bem-Vindo</h1>
      <img src="images/gabriel.jpg" alt="gabrielMiranda">
      
      <div class="nome">
          <p><strong>Gabriel Miranda</strong></p>
          <p><strong>Web Full Stack Jr.</strong></p>
      </div>

    </Section>

    <div class="icons">
        <a href="https://github.com/GabrielMiranda21"><ion-icon classe="github" name="logo-github"></ion-icon></a> 
        <a id="linkedin" href="https://www.linkedin.com/in/gabriel-miranda-de-amorim-soares-363269205/"><ion-icon classe="linkedin" name="logo-linkedin"></ion-icon></a> 
    </div>
    
  </body>

  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</html>
