<%- include("./partials/head") %>
<%- include("./partials/header") %>

<link rel="stylesheet" type="text/css" href="stylesheets/projetos.css">

<section class="container">

    <h1>Projetos pessoais</h1>
    <div class="slide">
        <div class="imagem">  
            <img src="#" alt="projeto">
        </div>
    </div>

    <h2>Projetos pessoais</h2>
    <div class="slide"> <!--box que guarda as imagens-->
        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="#" alt="projeto">
            <div class="nomeProjeto"> <!--nome junto da imagem-->
                <p>nome projeto</p>
            </div>
        </div>
    </div>

</section>