<%- include("./partials/head") %>
<%- include("./partials/header") %>

<link rel="stylesheet" type="text/css" href="stylesheets/projetos.css">

<section class="container">

    <h1>Meus Projetos</h1>
    <div class="slide"> <!--box que guarda as imagens-->

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#"><p>nome projeto</p></a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

        <div class="imagem">  <!--box com tamanho da imagem-->
            <img src="/images/emBreve.jpg" alt="projeto">
            <div> <!--nome junto da imagem-->
                <a class="nomeProjeto" href="#">nome projeto</a> 
            </div>
        </div>

    </div>

</section>