::root {
  --azulMarinhoForte: #012033;
  --azulMarinho: #010d20;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: inter;
}

body {
  margin-top: 1em;
  background-color: #012033;
}

a.cabecario {
  color: #fff;
  text-decoration: none;
  margin: 20px; 
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

ul{
  display: flex;
  justify-content: space-between;
  list-style: none;
  color: #fff;
  font-weight: bold;
}